.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Kanit', sans-serif !important;
}

.next-button {
  width: 180px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  border-radius: 50px;
  background-color: #4e2B82;
  color: white;
}
.next-button:focus {
  border: 0px;
}

.back-button {
  width: 180px;
  height: 40px;
  margin: 5px;
  font-size: 18px;
  border-radius: 50px;
  color: gray;
}

